<app-navigation></app-navigation>
<div class="checkoutContainer">

    <div class="orderSummary">
        <div class="adrress">
            <div class="addressContent">
                <h3>Shipping Address</h3>
                <p>John Doe</p>
                <p>123 Main St, City, Country</p>
            </div>
            <div class="edit">
                <a routerLink="/signin"><fa-icon [icon]="faEdit"></fa-icon></a>
            </div>

        </div>
        <div class="productDetails">
            <h4>Cycling Jersey</h4>
            <div class="productDetailsContainer">
                <img src="../../assets/bibshort.webp" alt="Cycling Jersey">
                <p>$79.99</p>
                <div class="buttons">
                    <button>-</button>
                    <p>1</p>
                    <button>+</button>
                </div>
            </div>
        </div>

    </div>

    <div class="billingDetails">
        <div class="summary">
            <h3>Order Summary</h3>
            <ul>
                <li>
                    <span>Subtotal</span>
                    <span>$79.99</span>
                </li>
                <li>
                    <span>Subtotal</span>
                    <span>$79.99</span>
                </li>
                
                <li>
                    <span>Shipping:</span>
                    <span>$10.00</span>
                </li>
                <li style="display: flex; justify-content: space-between; border-top: solid grey 1px;">
                    <span style="font-weight: bold;">Total:</span>
                    <span style="font-weight: bold; font-size: larger;">$89.99</span>
                </li>
                <div class="order">
                    <button>Place Order</button>
                </div>
                <p style="font-size: 12px;text-align: center; color:grey">Upon clicking 'Place Order', I confirm I have read and acknowledged all 
                    <a href="#" style="text-decoration: none;">terms and policies</a></p>
               

            </ul>
           
        </div>

        <div class="informationSafety">
            <img src="../../assets/ariders.jpg" alt="">
            <p>A-riders keeps your information and payment safe</p>
        </div>

    </div>

</div>
<app-footer></app-footer>