<div class="main">
    <!-- <app-navigation></app-navigation> -->
    <div id="hero" style="background-image: url('../../assets/large.jpg');">
        <div class="overlay">
            <h1>Ride Beyond Limits</h1>
            <p>Discover, connect, and gear up with fellow cyclists.</p>
            <a href="#join" class="cta-btn">Join Now</a>
        </div>
    </div>


    <!-- reasons -->
    <div class="reasons">
        <h2>Why ride with us</h2>
        <div class="reasonsContainer">
            <div class="large">
                <p>Community</p>
                <img src="../../assets/community.jpg" alt="community">
                <p>Connect with fellow cyclists, share your experiences, and discover new routes.</p>
            </div>
            <div class="small">
                <div class="smallCard">
                    <p>Community</p>
                    <p>Connect with fellow cyclists, share your experiences, and discover new routes.</p>
                </div>
                <div class="smallCard">
                    <p>Community</p>
                    <p>Connect with fellow cyclists, share your experiences, and discover new routes.</p>
                </div>
                <div class="smallCard">
                    <p>Community</p>
                    <p>Connect with fellow cyclists, share your experiences, and discover new routes.</p>
                </div>
            </div>

        </div>

    </div>


    <!-- Our favorite routes -->
    <div class="routes">
        <h2>Our Favorite Routes</h2>
        <div class="routeContainer">
            <button class="arrow left-arrow" (click)="prevRoutes()"> &#8249; </button>
            <div class="routeCard" *ngFor="let route of getDisplayedRoutes()">.
                <p>{{route.title}}</p>
                <img src={{route.picture}} alt="route1">
                <p>{{route.description}}</p>
            </div>
            <button class="arrow right-arrow" (click)="nextRoutes()"> &#8250; </button>
        </div>
    </div>

    <!-- Riders -->
    <div class="riders">
        <h2>Meet the Riders</h2>
        <hr>
        <div class="riderCategory">
            <p>Meet our riders</p>
            <select class="select">
                <option value="all" selected>All</option>
                <option value="men">Men</option>
                <option value="women">Women</option>
                <option value="junior">Junior</option>
            </select>
        </div>
        <div class="ridersContainer">
            <button class="arrow left-arrow" (click)="prevRoutes()"> &#8249; </button>
            <div class="riderCard" *ngFor="let route of getDisplayedRoutes()">
                <p>{{route.title}}</p>
                <img src={{route.picture}} alt="rider1">
            </div>
            <button class="arrow right-arrow" (click)="nextRoutes()"> &#8250; </button>
        </div>
    </div>

    <!-- Our Products -->
    <div class="products">
        <h2>Featured Products</h2>
        <div class="productsContainer">
            <div class="productCard" *ngFor="let product of getDisplayedProducts()">

                <img src={{product.picture}} alt="product1">

                <div class="productDescription">
                    <p>{{product.description}}</p>
                    <p style="color: gold;">{{product.price}}</p>
                </div>

            </div>
            <div class="more">
                <h2>More</h2>
            </div>

        </div>

    </div>

    <!-- Schedule and Results -->
     <div class="schedule">
        <h2>Schedule and Results</h2>
        <hr>
        <div class="scheduleContainer">
            <div class="calendar">
                <h3>Calendar</h3>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Mtwapa</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Mtwapa</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Mtwapa</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Mtwapa</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Mtwapa</p>
                    </div>

                </div>

            </div>
            <div class="results">
                <h3>Results</h3>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Jorry - 5th</p>
                    </div>
                    
                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Jorry - 5th</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Jorry - 5th</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Jorry - 5th</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">Jorry - 5th</p>
                    </div>

                </div>

            </div>
            <div class="wins">
                <h3>Wins</h3>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">FakeEmoji</p>
                    </div>
                    
                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">FakeEmoji</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">FakeEmoji</p>
                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">FakeEmoji</p>

                    </div>

                </div>
                <div class="unit">
                    <div class="date">
                        <p>12</p>
                        <p>Jan</p>
                    </div>
                    <div class="event">
                        <p>Mawenzi MTB/GRAVEL RACE</p>
                        <p style="color: gold;">FakeEmoji</p>
                    </div>

                </div>

            </div>
        </div>
     </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>