:root{
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
}
/* Hero Section */
#hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#hero .overlay {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

#hero p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#hero .cta-btn {
    background-color: gold;
    color: #fff;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    transition: background-color 0.3s;
}

#hero .cta-btn:hover {
    background-color: #e55950;
}

/* route */
.routes{
    height: 80vh;
    justify-content: center;
    align-items: center;
    
}
.routeContainer, .reasonsContainer, .ridersContainer{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    text-align: center;
}
.routeCard{
    height: 95%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: white;
}
.routeCard img, .large img, .small img, .riderCard img{
    width: 100%;
    height: 70%;
    background-size: cover;
}
.arrow{
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 1000;
}

/* reasons */
.reasons, .riders{
    height: 80vh;

}

.large{
    height: 90%;
    width: 35%;
    background-color: white;
}
.small{
    background-color: white;
    height: 90%;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.smallCard{
    border: solid gray 1px;
    height: 45%;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

hr{
    width: 10%;
    margin-right: 90%;
    border: solid gold 2px;
}

/* riders */
.riderCard{
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: rgb(46, 45, 45);
    color: white;
}




/*media screens*/
@media screen and (max-width: 480px) {
   .main{
    width:100%;
   }


}









