<div class="footer">
    <div class="top">
        <div class="foots">
            <img src="/assets/ariders.jpg">
        </div>

        <div class="foots">
            <h1>Who are we</h1>
            <a router-link="/signin">About</a>
            <P></P>
            <a router-link="/signin">Contact</a>
        </div>

        <div class="foots">
            <H1>Rides and Events</H1>
            <p> <a router-link="/signin">Group Rides</a></p>
            <p><a router-link="/signin">Training Races</a></p>
            <p><a router-link="/signin">Group Events </a></p>
            <p><a router-link="/signin">Races </a></p>

        </div>
        <div class="socialMedia">
            <p><a href="https://www.strava.com"><fa-icon [icon]="faTwitter"></fa-icon></a></p>
            <p><a href="https://www.strava.com"><fa-icon [icon]="faFacebook"></fa-icon></a></p>
            <p><a href="https://www.strava.com"><fa-icon [icon]="faInstagram"></fa-icon></a></p>
            <p><a href="https://www.strava.com/clubs/1115547"><fa-icon [icon]="faStrava"></fa-icon></a></p>

        </div>

    </div>
        <hr>
    <div class="bottom">
        <p>© 2021 Ariders</p>

    </div>

</div>