<div class="main">
    <h1>Upcoming Events</h1>
    <div class="events">
        <div class="eventCard" (click)="pay()">

        </div>
        <div class="eventCard">
            
        </div>
        <div class="eventCard">
            
        </div>
        <div class="eventCard">
            
        </div>
        <div class="eventCard">
            
        </div>
        <div class="eventCard">
            
        </div>
        <div class="eventCard">
            
        </div>
        <div class="eventCard">
            
        </div>
    </div>
</div>
