.main {
    /* border: solid red 2px; */
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events {
    border: solid grey 1px;
    height: 83vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: #dddd;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.eventCard {
    height: 30vh;
    width: 30%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../../assets/race.jpg');
    background-size: cover;
    border-radius: 10px;
}

/* media screen */
@media screen and (max-width: 480px) {
    .events {

        width: 100%;
        padding: 5px;

    }

    .eventCard {
        height: 40vh;
        width: 100vw;
        background-size: contain;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .events {
        background-color: green;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .eventCard {
        height: 40vh;
        width: 90vw;
        /* Cards take full width */
        background-size: contain;
    }

}

@media  screen and (min-width: 768px) and (max-width: 1024px) {
    .events {
        background-color: pink;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .eventCard {
        height: 40vh;
        width: 90vw;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}

@media screen and (min-width:1024) and (max-width:4000) {
    .events {
        background-color: red;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .eventCard {
        height: 40vh;
        width: 90vw;
        background-size: contain;
        background-repeat: no-repeat;
    }
    

    
}