<div class="main">

    <div class="pay">
        <div class="brief">
            <H1>Event</H1>
            <img src="../../assets/race.jpg">


        </div>
        <div class="details">
            <P><strong>Organizer:</strong> A-RIDERS</P>
            <p><strong>Date :</strong> 24/11/2024</p>
            <P><strong>Meeting Time:</strong>6:00am</P>
            <P><strong>Race Start:</strong>6:30</P>
            <P><strong>Venue:</strong> Dongo Kundu</P>
            <P><strong>Route:</strong> Dongo Kundu - Southern-Bypass</P>
            <p><strong>Enquiries:</strong>0703142445 </p>
            <p><strong>Description</strong> This is A-RIDERS last ride of the year. Come join us as we close the year
                with a banger</p>

            <button (click)="mpesa()">Join</button>

        </div>

    </div>



</div>