<div class="navigation">
    <div class="logo">
        <img src="../../assets/ariders.jpg" alt="Ariders Logo">

    </div>
    <div class="links">
        <a routerLink="/home">Home</a>
        <a routerLink="/shop">Shop</a>
        <a routerLink="/fan">Fan Peleton</a>

    </div>
    <div class="support">
        <a routerLink="/donate">Support</a>

    </div>
    <div class="account">
        <a routerLink="/profile"><fa-icon [icon]="faUser"></fa-icon></a>
    </div>

    <div class="nav">
        <a (click)="toggleSidenav()"><fa-icon [icon]="faBars"></fa-icon></a>
    </div>

    <div class="side-panel" [ngClass]="{'side-panel-open': isSidenavOpen}">
        <div class="side-panel-content">
            <a routerLink="/profile"><fa-icon [icon]="faUser"></fa-icon></a>
            <a routerLink="/home">Home</a>
            <a routerLink="/product">Shop</a>
            <a routerLink="/fan">Fan Peleton</a>
            <a routerLink="/donate">Support</a>
        </div>
        <div class="close-btn" (click)="toggleSidenav()">X</div>
    </div>

</div>